mixin button(text, link)
	a(class="button" href=link) #{text}
mixin button--edit(text, link)
	a(class="button--edit" href=link) #{text}
mixin button--remove(text, link)
	a(class="button--remove" href=link) #{text}
mixin button--save(text, link)
	a(class="button--save" href=link) #{text}
mixin button--enter(text, link)
	a(class="button--enter" href=link) #{text}
mixin button--profile(text, link)
	a(class="button--profile" href=link) #{text}
mixin button--small(text, link)
	a(class="button--small" href=link) #{text}
mixin button--edit-small(text, link)
	a(class="button--edit-small" href=link) #{text}
mixin button--save-small(text, link)
	a(class="button--save-small" href=link) #{text}
mixin button--remove-small(text, link)
	a(class="button--remove-small" href=link) #{text}			