mixin checkbox(name, text, status)
		if status === 'checked'
			.form-checkbox
				label.label-checkbox
					input.checkbox(type='checkbox', name = name, checked)
					span.checkmark
					| #{text}
		else
			.form-checkbox
				label.label-checkbox
					input.checkbox(type='checkbox', name = name)
					span.checkmark
					| #{text}
					

mixin input(name, type, placeholder,label)
	div.form-group
		label.label #{label}
			input.input(name=name,type=type, placeholder=placeholder)

mixin textArea(name, type, placeholder,label)
	div.form-group
		label.label #{label}
		textarea.textarea(name=name,type=type, placeholder=placeholder)

mixin formInput(id, method, action, labelText, text)
	form(id=id, method=method, action=action)
		input.inputfile(type="file",name="file",id="file",multiple='true')
		label(for="file") #{labelText}
		span #{text}

mixin commentAdd(name,placeholder)
	textarea.textarea.textarea--comment-add(name=name, placeholder=placeholder)
